@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-feature-settings: "rlig" 1, "calt" 1;
}

code.text-\[\.9em\] {
  font-size: 14px;
}

code.text-\[\.45em\] {
  font-size: 7px;
}

@keyframes scroll {
  0% {
    transform: translateY(0em);
  }
  20% {
    transform: translateY(-2.25rem);
  }
  40% {
    transform: translateY(-4.5rem);
  }
  60% {
    transform: translateY(-6.75rem);
  }
  80% {
    transform: translateY(-9rem);
  }
  100% {
    transform: translateY(0rem);
  }
}

.scrolling-words-container {
  height: 1.2em;
  width: 288px;
}

.animate-scrolling-words {
  transform: translateY(0);
  animation: scroll 5s infinite;
  font-weight: bold;
}

.discord-channel {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  background-color: #36393f;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.discord-channel:hover {
  background-color: #7289da;
}
