@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-feature-settings: "rlig" 1, "calt" 1;
}

code.text-\[\.9em\] {
  font-size: 14px;
}

code.text-\[\.45em\] {
  font-size: 7px;
}

@keyframes scroll {
  0% {
    transform: translateY(100%);
  }
  25% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-100%);
  }
  75% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(100%);
  }
}

.animate-scrolling-word {
  animation: scroll 3s infinite;
}
